$global-font-family: -apple-system, "Helvetica Neue", Arial, sans-serif;
$global-input-font-size: 18px;
$global-font-size-14: 14px;
$global-font-size-16: 16px;
$global-font-size-24: 24px;
$global-font-size-28: 28px;
$global-font-size-46: 46px;
$global-radius: 4px;
$global-margin-small: 16px;
$global-margin-large: 32px;
