@import "@styles/main.scss";

.main-header-container {
  width: 1200px;
  margin: auto;
}
.navbar-mobile-main-container {
  height: 50px;
  padding: 0 5px 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $grey-50;
  background-color: $yellow;
  width: "1200px";
  margin: "auto";
}
.navbar-search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 7px;
  .img-cursor {
    cursor: pointer;
  }
}
